 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
 
 html{
     scroll-behavior: smooth;
 }
 *{
     font-size: 10px;
 }

 body{
     margin: 0;
     padding: 0;
     width: 100vw;
 }


 .icon-scroll{
     text-align: center;
     color: #304e42;
     font-size: 2rem;
     margin-top: 3rem auto;
     text-decoration: none;
 }

 .icon-scroll:hover{
     text-decoration: none;
     color: #79b89f;
 }

.icon-scroll:hover::before{
     content: "scroll";
     font-family: "Nunito Sans", sans-serif;
     font-size: 1rem;
     text-transform: uppercase;
     font-weight: 200;
     padding-right: 1rem;
 }

 .icon-scroll:hover::after{
     content: "down";
     font-family: "Nunito Sans", sans-serif;
     font-size: 1rem;
     text-transform: uppercase;
     font-weight: 200;
     padding-left: 1rem;
 }

/*---------------------------------------------------------------Typography--*/

  .websiteName{
    font-weight: 200;
 }

 
 .title{
     font-size: 8rem;
     font-family: "Nunito Sans", sans-serif;
     text-transform: uppercase;
     display: block;
     
 }

 .subtitle {
     font-size: 2rem;
     font-family: "Montserrat", sans-serif;
     display: block;
     letter-spacing: 1rem;
     
 }

 .heading-title{
     font-family: "Nunito Sans", sans-serif;
     font-size: 5rem;
     text-transform: uppercase;
     font-weight: 200;
     
 }

 .text-section{
     font-family: "Montserrat", sans-serif;
     font-size: 2rem;
     font-weight: 200;
 }

 .link-section, .address{
     font-family: "Montserrat", sans-serif;
     font-size: 1.5rem;
     font-weight: 200;
 }

.footer-title {
    font-size: 3rem;
}
 /*---------------------------------------------------------------Color palette--*/

   .websiteName{
    color: #e9e6e6;
   }

   .heading-title{
    color: #033646;
   }

    .link-section{
     color: #033646;
 }

 .footer-title {
     color: #304e42;
 }


/*---------------------------------------------------------------Menu--*/
.menu-expanded{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
}

li a.link-item{
    font-family: "Nunito Sans", sans-serif;
    color: #e9e6e6;
    font-size: 8rem;
    text-transform: uppercase;
    margin: 0;
    
}

.navbar-custom{
  z-index: 6;
  position: fixed;
  width: 4rem;
  background-color: white;
  height: 100vh; 
}

.close-icon{
    color: #e9e6e6;
    font-size: 5rem;
}

a#navbarMenuLink {
    font-family: "Nunito Sans", sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #033646;
    writing-mode: vertical-rl;
text-orientation: upright;
margin-top: 1rem;
font-weight: 600;
padding: 0;
}
/*---------------------------------------------------------------Landing Page--*/

 #landingPage{
     min-width: 100vw;
     min-height: 100vh;
     position: relative;
 }

 #videoBackground{
     position: fixed;
     object-fit: cover;
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     z-index: -1;
 }

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
    position: fixed;
    margin: 0;
    padding: 0;
}

 #homePageText{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-flow: column wrap;
 }

 .icon-landing{
     bottom: 10rem;
 }

 a.subtitle:hover, a.subtitle:active{
     text-decoration: none;
     font-weight: 400;
     color: #79b89f;
     font-size: 2.5rem;
 }

 h1.websiteName{
     border: 0.5rem solid #e9e6e6;
 }

/*---------------------------------------------------------------Information Section--*/

.section-area{
    margin: 0;
    padding: 9rem 0 0 0;
    background-color: #e9e6e6;
    z-index: 2;
    position: relative;
    text-align: center;
}

.heading-title{
    
    margin-top: 0;
}

.section-row{
    width: 100%;
    margin: 5rem 0;
    padding: 0;
}

.section-column{
  overflow: hidden;
}

.image-container{
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image-section{
    object-fit: cover;
    width: 100%;
}

.text-section{
    margin: 2rem;
}

/*---------------------------------------------------------------Map--*/
div#map{
    height: 50rem;
    width: 100%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}

/*---------------------------------------------------------------Recommended by--*/

.image-recommended{
  height: 20rem;
  border-radius: 50%;
  margin: auto;
}

/*---------------------------------------------------------------Contact--*/

.icon-last:hover::before{
     content: "to the";
     font-family: "Nunito Sans", sans-serif;
     font-size: 1rem;
     text-transform: uppercase;
     font-weight: 200;
}

.icon-last:hover::after{
     content: "top";
     font-family: "Nunito Sans", sans-serif;
     font-size: 1rem;
     text-transform: uppercase;
     font-weight: 200;
     padding-left: 1rem;
}

.form-check{
    display: inline-block;
    margin: 0 2rem 2rem 0;

}
.contact-form{
    width: 50rem;
    font-family: "Nunito Sans", sans-serif;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    color: #033646;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 3rem;
}

.form-column{
    text-align: center;
}

label{
    margin-top: 1rem;
    line-height: 2rem;
    font-size: 2rem;
}

input{
    height: 3rem;
    font-size: 1.5rem;
}

textarea{
    font-size: 1.5rem;
    line-height: 2rem;
}

::placeholder{
    letter-spacing: .5rem;
    font-size: 1.5rem;
}

#contact-section {
  margin-bottom: 0;
  padding-bottom: 3rem;
}

/*---------------------------------------------------------------Footer--*/

#footer {
    padding-top: 0rem;
    padding-bottom: 2rem;
}

.link-section{
  text-decoration: none;
}

.link-section:hover, .link-section:active{
    text-decoration: none;
    color: #304e42;
    font-weight: 400;
}

a.icon{
    color: #033646;
    font-size: 1.5rem;
    padding: 1rem;
}

a.icon:hover, a.icon:active {
    color: #304e42;
}

/*---------------------------------------------------------------Media Queries--*/
@media screen and (max-width: 374px) {
    .title {
        font-size: 5rem;
        text-align: center;
    }
    .subtitle {
        font-size: 1 rem;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .title {
        font-size: 5rem;
        text-align: center;
    }
    .subtitle {
        font-size: 1.5 rem;
        text-align: center;
    }
    
    .logo-small-screen{
    text-align: center;
    margin-top: 1.5rem;
    }

    .recommended-row-small-screen{
        margin-top: 1.5rem;
    }
}


/*---------------------------------------------------------------Testing!!!!--*/
.fadeIn {
    display:none;
}  